[submodule "backend"]
	path = backend
	url = https://github.com/cloud-native-documentation/documentation-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/cloud-native-documentation/documentation
